<% if @breadcrumbs.present? %>
  <div class="text-sm breadcrumbs">
    <ul class="flex items-center">
      <% @breadcrumbs.each_with_index do |breadcrumb, index| %>
        <% unless breadcrumb == @breadcrumbs.last %>
          <li class="flex items-center">
            <%= link_to breadcrumb.fetch(:content), breadcrumb[:href], class: "text hover:text-white-800" %>
          </li>
        <% else %>
          <li class="text-gray-600">
            <%= breadcrumb.fetch(:content) %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
