<% if @breadcrumbs.present? %>
  <div class="text-sm breadcrumbs">
    <ul class="flex items-center">
      <% @breadcrumbs.each_with_index do |breadcrumb, index| %>
        <% unless breadcrumb == @breadcrumbs.last %>
          <li class="flex items-center">
            <%= link_to breadcrumb.fetch(:content), breadcrumb[:href], class: "text-blue-600 hover:text-blue-800" %>
            <svg class="w-4 h-4 mx-2 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
            </svg>
          </li>
        <% else %>
          <li class="text-gray-700">
            <%= breadcrumb.fetch(:content) %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
