<div id="<%= dom_id vital %>">
  <p>
    <strong>Name:</strong>
    <%= vital.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= vital.category %>
  </p>

  <p>
    <strong>User:</strong>
    <%= vital.user_id %>
  </p>

</div>
