<div class="flex">
  <div class="px-2 mx-2">
    <%= render "shared/breadcrumbs" %>
  </div>
  <!-- Right Content -->
</div>
<div class="min-h-screen flex justify-center w-full">
  <div class="flex flex-col items-center">
    <div>
      <h4 class="text-3xl mx-auto my-4 text-center">My Vitals</h4>
    </div>
    <div id="vitals" class="text-center flex flex-col items-center">
      <% if @vitals.empty? %>
        <div class="text-center">
          <p>You have no vitals yet.</p>
          <%= link_to new_vital_path, class: "btn btn-primary" do %>
            <i class="fas fa-plus"></i> Create your first vital
          <% end %>
        </div>
      <% else %>
        <% @vitals.each do |vital| %>
          <% card_class = case vital.category
                          when 'numerical' then 'bg-primary'
                          when 'text' then 'bg-secondary'
                          when 'image' then 'bg-accent'
                          else 'bg-base-100'
                          end
          %>
          <% btn_class = case vital.category
                        when 'numerical' then ''
                        when 'text' then ''
                        when 'image' then ''
                        else 'btn'
                        end
          %>
          <%= render vital, card_class: card_class, btn_class: btn_class %>
        <% end %>
      <% end %>
    </div>
    <% unless @vitals.empty? %>
      <div>
        <%= link_to "Create a new custom vital", new_vital_path, class: "btn" %>
      </div>
    <% end %>
  </div>
</div>
