<div class="min-h-screen flex justify-center w-full">
  <div class="flex flex-col items-center">
    <div>
    <h4 class="text-3xl mx-auto my-8 text-center"><strong>New Custom Vital</strong></h4>
    </div>

    <div>
      <%= render "form", vital: @vital %>
      

      <br>

      <div class="w-full max-w-xs text-left">
        <%= link_to "Back to vitals", vitals_path %>
      </div>
    </div>
  </div>
</div>
