<%= render @vital %>

<div>
  <%= link_to "Edit this vital", edit_vital_path(@vital), class: "btn btn-xs btn-accent" %> |
  <%= link_to "Back to vitals", vitals_path, class: "btn btn-xs btn-outline btn-accent" %>

  <%= button_to "Destroy this vital", @vital, method: :delete, data: { confirm: 'Are you sure you want to delete this vital? All related readings will also be deleted.' }, class: "btn btn-xs btn-error mt-2" %>

</div>
