<div class="flex flex-col">
  <!-- Right Content -->
</div>

<div class="min-h-screen flex flex-col items-center mt-8">
  <%= render @vital %>
  <div class="flex items-center">
    <%= link_to edit_vital_path(@vital), class: "btn btn-xs btn-accent" do %>
      <i class="fa-solid fa-pen-to-square"></i>
    <% end %> |

    <%= button_to @vital, method: :delete, data: { confirm: 'Are you sure you want to delete this vital? All related readings will also be deleted.' }, class: "btn btn-xs btn-error", form_class: "inline" do %>
      <i class="fa-regular fa-trash-can"></i>
    <% end %>    
  </div>
  <br>
    <%= link_to "Back to vitals", vitals_path, class: "btn btn-xs btn-outline btn-accent" %>
</div>
